Flask==3.0.3
Flask-SQLAlchemy==3.1.1
mysql-connector-python==9.0.0
Flask-Marshmallow==1.2.1
Flask-Limiter==3.8.0
Flask-Caching==2.3.0
python-jose[cryptography]==3.3.0
marshmallow==3.21.1
marshmallow-sqlalchemy==0.29.0